In [22]:
import pandas as pd
import kagglehub
import os

In [23]:
path = kagglehub.dataset_download("ahmedabbas757/coffee-sales")
file_name = "Coffee Shop Sales.xlsx"
file_path = os.path.join(path, file_name)
coffee_sales = pd.read_excel(file_path)

In [29]:
coffee_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   transaction_id         149116 non-null  int64
 1   transaction_qty        149116 non-null  int64
 2   store_id               149116 non-null  int64
 3   store_location         149116 non-null  object
 4   product_id             149116 non-null  int64
 5   unit_price             149116 non-null  float64
 6   product_category       149116 non-null  object
 7   product_type           149116 non-null  object
 8   product_detail         149116 non-null  object
 9   transaction_timestamp  149116 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 11.4+ MB

In [27]:
coffee_sales["transaction_timestamp"] = coffee_sales["transaction_date"].astype(str) + ' ' + coffee_sales["transaction_time"].astype(str)
coffee_sales["transaction_timestamp"] = pd.to_datetime(coffee_sales["transaction_timestamp"])
coffee_sales.drop(["transaction_date", "transaction_time"], axis=1, inplace=True)

In [28]:
coffee_sales["transaction_timestamp"]

0        2023-01-01 07:06:11
1        2023-01-01 07:08:56
2        2023-01-01 07:14:04
3        2023-01-01 07:20:24
4        2023-01-01 07:22:41
                 ...
149111   2023-06-30 20:18:41
149112   2023-06-30 20:25:10
149113   2023-06-30 20:31:34
149114   2023-06-30 20:57:19
149115   2023-06-30 20:57:19
Name: transaction_timestamp, Length: 149116, dtype: datetime64[ns]

In [36]:
coffee_sales["transaction_id"].drop_duplicates().shape

(149116,)

In [48]:
coffee_sales[["store_location", "store_id"]].value_counts()

store_location   store_id
Hell's Kitchen   8           50735
Astoria          3           50599
Lower Manhattan  5           47782
Name: count, dtype: int64

In [64]:
coffee_sales["product_detail"].drop_duplicates().value_counts()

product_detail
Ethiopia Rg                  1
Spicy Eye Opener Chai Lg     1
Chocolate syrup              1
Sugar Free Vanilla syrup     1
Organic Decaf Blend          1
                            ..
Columbian Medium Roast Rg    1
Brazilian Lg                 1
Brazilian Rg                 1
Latte                        1
I Need My Bean! Diner mug    1
Name: count, Length: 80, dtype: int64