In [1]:
import pandas as pd
import kagglehub
import os

In [2]:
path = kagglehub.dataset_download("ahmedabbas757/coffee-sales")
file_name = "Coffee Shop Sales.xlsx"
file_path = os.path.join(path, file_name)
coffee_sales = pd.read_excel(file_path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/ahmedabbas757/coffee-sales?dataset_version_number=1...

100%|██████████| 8.23M/8.23M [00:01<00:00, 5.98MB/s]

Extracting files...

In [5]:
coffee_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  datetime64[ns]
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 12.5+ MB

In [6]:
coffee_sales["transaction_time"]

0         07:06:11
1         07:08:56
2         07:14:04
3         07:20:24
4         07:22:41
            ...
149111    20:18:41
149112    20:25:10
149113    20:31:34
149114    20:57:19
149115    20:57:19
Name: transaction_time, Length: 149116, dtype: object